<div class="lefttext">
<h1>Edit user:</h1>
</div>
  <div class="changeimg">
  <%= gravatar_for @user %>
  <a href="http://gravatar.com/emails"><br />change avatar</a>
  </div>
<%= simple_form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
    <%= f.input :first_name %>

    <%= f.input :last_name %>
    <%= f.input :email %>
    <%= f.input :password %>
    <%= f.input :password_confirmation, :label => "Password Confirmation" %><br />
    <%= f.input :education, :hint => "Limit 100 characters" %>
    <%= f.input :bio, :as => "text", :hint => "Limit 500 characters" %>
    <%= f.button :submit %>
<% end %>
