<div class="center"> <h1>Sign up</h1></div>

<%= simple_form_for(@user) do |f| %>
  <%= render 'shared/error_messages', :object => f.object %>
  <%= f.input :first_name, :placeholder => 'Example' %>
  <%= f.input :last_name, :placeholder => 'User' %>
  <%= f.input :email, :placeholder => 'user@example.com' %>
  <%= f.input :password %>
  <%= f.input :password_confirmation, :label => "Password Confirmation" %>
  <%= raw get_captcha(:options => {:theme => 'white', :tabindex => 75}) %>
  <%= f.button :submit %>
<% end %>
  
