<table class="profile" summary="Profile information">
  <tr>
    <td class="main">
      <h1>
      <%= gravatar_for @user %>
      <%= @user.first_name %>
      <%= @user.last_name %>
      </h1>
      <% if @user.courses.any? %>
        <table class="courses" summary="User courses">
          <%= render @courses %>
        </table>
        <%= will_paginate @courses %>
      <% end %>
    </td>
    <td class="sidebar round">
      <strong>Name:</strong> <%= @user.first_name %>
                            <%= @user.last_name %><br />
      <strong>URL:</strong>  <%= link_to user_path(@user), @user %><br />
      <strong>Courses:</strong> <%= @user.courses.count %><br />
      <strong>Education:</strong> <%= @user.education %><br />
      <strong>Bio:</strong> <%= @user.bio %>
    </td>
  </tr>
</table>