<tr>
  <td class="gravatar">
    <%= link_to gravatar_for(feed_item.user), feed_item.user %>
  </td>
  <td class="course">
    <span class="user">
      <%= link_to [feed_item.user.first_name, feed_item.user.last_name].reject(&:empty?).join(' '), feed_item.user %></span><br/>
    <span class="content"><%= feed_item.content %></span><br />
    <span class="body"><%= feed_item.body %></span><br />
    <span class="location"><%feed_item.location %></span> 
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>
  </td>
  <% if current_user?(feed_item.user) %>
  <td>
    <%= link_to "delete", feed_item, :method => :delete,
                                     :confirm => "Are you sure?",
                                     :title => feed_item.content %>
  </td>
  <% end %>
</tr>