<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to home, root_path %></li>
      <% if signed_in? %>
      <li><%= link_to profile, current_user %></li>
      <li><%= link_to settings, edit_user_path(current_user) %></li>
      <li><%= link_to users, users_path %></li>
      <% end %>
      <li><%= link_to help, help_path %></li>
      <% if signed_in? %>
      <li><%= link_to leave, signout_path, :method => :delete %></li>
      <% else %>
      <li><%= link_to about, about_path %></li>
      <li><%= link_to signin, signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>